<section class="footer">
    <footer class="main-content site-footer">
        <p>&#169; <span class="site-owner" >Elnaz Gharaee.</span> All rights reserved.</p>
        <ul>
            <li><a href="<%= site.basePath %>/" targt="_self" title="Privacy and Security">Privacy & Security</a></li>
            <li>
                <a href="#" data-popup-open="termsNCoditions-popup" title="Terms of use">
                    Terms of use
                </a>
            </li>
            <li><a href="<%= site.basePath %>/" targt="_self" title="Sitemap">Sitemap</a></li>
        </ul>
    </footer>
</section>