<section class="subheader main-page">
    <div class="main-content">
        <h1 class="main-title"><%= site.title %></h1>
        <h2 class="sub-title"><%= site.description %></h2>
    </div>
</section>