<section class="subheader">
    <div class="main-content">
        <h1 class="main-title"><%= site.title %> | <%= page.title %></h1>
        <a href="<%= site.basePath %>/" target="_self" title="Back" class="btn">
            <i class="fa fa-arrow-circle-left"></i>Back
        </a>
    </div>
</section>