<div class="popup" data-popup="termsNCoditions-popup">
    <div class="popup-inner mainHeaderText">
       <div class="popup-header">Terms of Use</div>
       <div class="popup-content">
            <h2>Terms and Conditions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel mollis porta. Fusce vel ultricies purus. In consectetur nibh odio, mattis varius purus faucibus in. mattis varius purus faucibus in.</p>
            <a class="popup-close" href="#" data-popup-close="termsNCoditions-popup"></a>
        </div>
    </div>
</div>