<section class="main-content action-section">
    <h2 class="sub-title">Lorem ipsum dolor sit amet.</h2>
    <a href="<%= site.basePath %>/contact" target="_self" title="Contact Us" class="btn primary-btn">Contact Us</a>
</section>