/* Four items */
.items-container {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;

	/* Common style */
	.itemEffect {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 0px 2px;
		max-height: 360px;
		min-height: 224px;
		background: #3085a3;
	    border-right: 1px solid #fff;
	    border-radius: 3px;
		text-align: center;
		cursor: pointer;

		.fa {
		    position: absolute;
		    top: 26%;
		    left: 24%;
		    font-size: 121px;
		    color: rgba(255, 255, 255, 0.16);
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		img {
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
			opacity: 0.8;
		}

		figcaption {
			padding: 2em;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

			&::before,
			&::after {
				pointer-events: none;
			}
		}

		figcaption,
		figcaption > a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		/* Anchor will cover the whole item by default */
		/* For some effects it will show as a button */
		figcaption > a {
			text-indent: 200%;
			white-space: nowrap;
			font-size: 0;
			opacity: 0;
			z-index: 100;
		}

		h2 {
			word-spacing: -0.15em;
			font-size: 17px;
			font-weight: 100;
			color: #fff;
		}

		h2 span {
			font-weight: 600;
		}

		h2,
		p {
			margin: 0;
			text-align: center;
		}

		p {
			letter-spacing: 1px;
			font-size: 68.5%;
			color: #fcf769;
		}
	}
}





.itemEffect {
	background: #18a367;

	img {
		height: 390px;
	}

	figcaption {
		padding: 3em;

		&::before,
		&::after {
			position: absolute;
			content: '';
			opacity: 0;
		}

		&::before {
			top: 50px;
			right: 30px;
			bottom: 50px;
			left: 30px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		&::after {
			top: 30px;
			right: 50px;
			bottom: 30px;
			left: 50px;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			-webkit-transform: scale(1,0);
			transform: scale(1,0);
			-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
		}
	}

	h2 {
		padding-top: 26%;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
	}

	p {
		padding: 0.5em 2em;
		text-transform: none;
		opacity: 0;
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0);
	}

	img,
	h2 {
		-webkit-transform: translate3d(0,-30px,0);
		transform: translate3d(0,-30px,0);
	}

	img,
	figcaption::before,
	figcaption::after,
	p {
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	&:hover {

		img {
			opacity: 0.7;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		&:hover figcaption::before,
		&:hover figcaption::after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		&:hover h2,
		&:hover p {
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		&:hover h2,
		&:hover p,
		&:hover img {
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
		}
	} 
}

@media screen and (min-width: 1024px) {

	.items-container .itemEffect {
	    min-width: 240px;
	    width: -webkit-calc(25% - 3px);
		width: expression(25% - 3px);
		width: -moz-calc(25% - 3px);
		width: -o-calc(25% - 3px);
		width: calc(25% - 3px);

	    figcaption {
		    padding: 15px
		}
	}

	.itemEffect {
		figcaption {
			&::before {
		        top: 25px;
			    right: 15px;
			    bottom: 25px;
			    left: 15px;
			}

			&::after {
			    top: 15px;
			    right: 25px;
			    bottom: 15px;
			    left: 25px;
			}
		}

		h2 {
		    padding: 23% 20px;
		    font-size: 18px;
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.items-container .itemEffect {
	    min-width: 224px;
	    width: -webkit-calc(50% - 4px);
		width: expression(50% - 4px);
		width: -moz-calc(50% - 4px);
		width: -o-calc(50% - 4px);
		width: calc(50% - 4px);
	    margin: 2px 2px 2px 2px;

	    h2 {
	    	padding-top: 12%;
	    }

	    .fa {
	    	left: 37%;
	    }
	}
}

@media screen and (max-width: 768px) {
	.items-container .itemEffect{
	    min-width: 224px;
	    width: 100%;
	    margin: 2px 0;

	    h2 {
	    	padding-top: 45px;
	    }

	    .fa {
	    	left: 40%;
	    }
	}
}
/* End - Four items */